@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Pacifico&display=swap');
body{
	margin: 0;
	
}
.box{
	margin-right: 42%;
	margin-left: 40%;
	margin-top: 60px;
	border-width: 3;
	background: pink;
	border-radius: 100%;

}
.box img{
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
h2{
	font-family: Marck script;
	color: #5D6D7E;
	text-align: center;
}


.button h2{
	font-family: 'Caveat', cursive;
	text-align: center;
	color: #FDFEFE;
}
.shape svg {
	margin-bottom:0 ;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	position: absolute;
}

.btn {
	position: absolute;
  font-family: 'Quicksand';
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 20px;
  color: #FFF;
  border-radius: 24% 76% 29% 71% / 33% 40% 60% 67%;
  line-height: 40px;
  position: relative;
  font-size: 15px;
  overflow: hidden;
  display: inline-block;
  border: 0;
  background: transparent;
  z-index: 1;
}

.btn::before {
  position: absolute;
  content: '';
  display: inline-block;
  background: #3bade3;
  background: linear-gradient(100deg, #FFADD2 0%, #FF41BE 20%, #AF8BFF 45%, #691EFF 70%, #1EAAFF 90%);
  height: 120px;
  width: 400%;
  z-index: -1;
  transform: translateX(-50%);
  transition: transform 200ms ease-in;
  top: 0; 
}

.btn:hover::before {
  transform: translateX(-25%); 
}